* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: montserrat;
}

main {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
}

header {
  padding-right: 0px;
  padding-left: 0px;
}

nav {
  background-color: white;
  overflow: hidden;
  border-bottom: solid;
  border-color: black;
}

li {
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
}

footer {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

h1,
h2,
h3,
p,
img {
  padding-top: 20px;
}

.logo {
  padding: 0px;
  padding-bottom: 0px;
}
