* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

main {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
}

nav {
  background-color: white;
  overflow: hidden;
  padding-left: 183px;
  padding-right: 200px;
}

li {
  display: inline-block;
  font-size: 20px;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
}

footer {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  text-align: center;
}

h1,
h2,
p,
img {
  padding-top: 20px;
}
